.inner{
    display:inline-block;
    margin-left:2%;
    margin-top: 2%;
    background-image: linear-gradient(to right,rgb(233, 211, 168), rgb(59, 58, 58));
    overflow: hidden;
 
  

}
body{
    margin: auto;
    text-align: center;
    color:white;
    background-color:#212F3C ;
   
} 

.card-title {
    color: white;
    background-color: black;
    height: 50px !important;
    padding: 10px;
  } 
span{
    font-weight: bold;
}
.fun{
    background-color:#212F3C ;
    text-align: left;
}
.row{
    overflow: hidden;
}